body {
    background-color: lightgrey;
    background-image: url("../images/background-img.jpg");
    background-size: 100vw 100vh;
}

p {
    font-weight: bold;
}

.text-center{
    text-align: center;
}